RewriteEngine on

RewriteRule ^(index|contact|login|registration)$  $1.php [NC,L]

RewriteRule ^post/(\d+)$ post.php?p_id=$1

RewriteRule ^category/(\d+)$ category.php?category=$1

#php_value include_path '.;D:\xampp\php\PEAR;D:\xampp\htdocs\phpcms'
